<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hospital Management System</title>

    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <header>

      <h1 class="site-title"><a href="/">Hospital Management System</a></h1>
      {{#if is_patients}}
      <h1 class="site-title"><a href="/patients.hbs">/ Patients</a></h1>
      {{/if}}
      {{#if is_treatments}}
      <h1 class="site-title"><a href="/treatments.hbs">/ Treatments</a></h1>
      {{/if}}
    </header>

    <main>
        <div id = menu-bar>

            
            <div class = "menu-item {{#if is_patients}}selected{{/if}}">
                <a href = "./patients.hbs">Patients</a>
            </div>

            <div class = "menu-item {{#if is_doctors}}selected{{/if}}">
                <a href = "./doctors.hbs">Doctors</a>
            </div>

            <div class = "menu-item {{#if is_treatments}}selected{{/if}}">
                <a href = "./treatments.hbs">Treatments</a>
            </div>

            <div class = "menu-item {{#if is_appointments}}selected{{/if}}">
                <a href = "./appointments.hbs">Appointments</a>
            </div>

            <div class = "menu-item {{#if is_departments}}selected{{/if}}">
                <a href = "./departments.hbs">Departments</a>
            </div>

            <div class = "menu-item {{#if is_patients_treatments}}selected{{/if}}">
                <a href = "./patient_treatments.hbs">Patients_Treatments</a>
            </div>

            <div class = "menu-item {{#if is_doctors_departments}}selected{{/if}}">
                <a href = "./doctors_departments.hbs">Doctors_Departments</a>
            </div>
            
        </div>

        {{{body}}}

    </main>
  </body>
</html>