.site-title a{
    color: black;
    text-decoration: none;
}

#menu-bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu-item{
    flex-grow: 1;
    height: 20px;
    border: 1px solid black;
    border-radius: 2%;
    margin: 5px;
    background-color: lightsalmon;
    text-align: center;
}

.menu-item a{
    color: black;
}

.selected{
    background-color: lightgrey;
}

#content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 5px;
    justify-content: center;
}

#add-new{
    color: blue;
}

#confirm-button{
    height: 20px;
    border: 1px solid black;
    border-radius: 2%;
    margin: 5px;
    background-color: lightblue;
    text-align: center;
}

#confirm-button a{
    color: black;
    text-decoration: none;
}

#cancel-button{
    height: 20px;
    border: 1px solid black;
    border-radius: 2%;
    margin: 5px;
    background-color: lightcoral;
    text-align: center;
}

#cancel-button a{
    color: black;
    text-decoration: none;
}