header h1{
    display: inline;
}

.site-title a{
    color: black;
    text-decoration: none;
}

#menu-bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu-item{
    flex-grow: 1;
    height: 20px;
    border: 1px solid black;
    border-radius: 2%;
    margin: 5px;
    background-color: lightsalmon;
    text-align: center;
}

.menu-item a{
    color: black;
}

.selected{
    background-color: lightgrey;
}

#content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
}

.text-info{
    font-size: 1.3vw;
}

#search_bar{
    width: 100%;
}

#search-bar input{
    width: 90%;
}

#search-bar a{
    color: black;
    text-decoration: none;
}

table{
    width: 100%;
}

table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

input.input-attribute{
    width:100%;
}

#buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#add-new-button{
    height: 20px;
    width: 100%;
    border: 1px solid black;
    border-radius: 2%;
    margin: 5px;
    background-color: lightblue;
    text-align: center;
}

#add-new-button a{
    color: black;
    text-decoration: none;
}

#confirm-button{
    height: 20px;
    width: 50%;
    border: 1px solid black;
    border-radius: 2%;
    margin: 5px;
    background-color: lightgreen;
    text-align: center;
}

#confirm-button a{
    color: black;
    text-decoration: none;
}

#cancel-button{
    height: 20px;
    width: 50%;
    border: 1px solid black;
    border-radius: 2%;
    margin: 5px;
    background-color: lightcoral;
    text-align: center;
}

#cancel-button a{
    color: black;
    text-decoration: none;
}