<div id = content>

    <div id = text-info>
        Include all relevant information to add a new Treatment entry. * are required, all else can be set to NULL with no entry upon confirmation.
    </div>

    <div id = input-table>
        <table>
            <tr class = attribute-titles>
                <th width="50%">*Description</th>
                <th width="50%">*Cost</th>
            </tr>

            <tr class = "Treatments-info">
                <td><input type = "text" name = description id = description class="input-attribute"></td>
                <td><input type="number" name="cost" id="cost" class="input-attribute" min="0"></td>
            </tr>

        </table>
    </div>
    
    <div id="buttons">
        <button id="cancel-button" type = "button">CANCEL</button>

        <button id="confirm-button" type = "button">CONFIRM</button>
    </div>

</div>

<script src="./js/add_treatment.js"></script>