<div id = content class = new_line>

    <div class = text-info>

        <h2>Overview</h2>
                
        The Hospital Management System is a comprehensive database solution designed to improve the management of hospital operations, including patients, appointments, doctors, departments, and treatments. The hospital serves an average of 500 patients daily and employs over 50 doctors across multiple departments. Hospitals face significant operational challenges without an efficient data management system, such as double-booked appointments, delays in accessing patient records, inefficient doctor scheduling, and difficulty tracking treatments.
        <br />
        <br />
        <li>Patients - Displays the Patient information useful for future communication and for scheduling their appointment with the appropriate level of urgency.</li>
        <li>Doctors - Displays the Doctor information useful for assigning the doctor with the correct specialization to a relevant appointment.</li>
        <li>Treatments - Displays the Treatment information that is given to a patient following an appointment.</li>
        <li>Appointments - Displays the Appointments made between Patients and Doctors and contains relevant information about the department, reason, and date it is scheduled for.</li>
        <li>Departments - Displays the Department information where doctors are assigned and where appointments can be located.</li>
        <li>Patients_Treatments - Displays the many-to-many relationship between Patients and Treatments.</li>
        <li>Doctors_Departments - Displays the many-to-many relationship between Doctors and Departments.</li>
    </div>
            
</div>